:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
h3 {
  color: var(--branding-color);
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.accent {
  color: var(--branding-color);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
}
.hero h2 {
  line-height: 2;
  color: #272142;
  font-size: 24px;
}
.section {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}
.section h1 {
  font-size: 64px;
  line-height: 80px;
}
.section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.bread {
  size: 170%;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 80px 20px;
    text-align: center;
  }
  .container {
    text-align: center;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 50px;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero {
    line-height: 2;
    padding: 80px 20px;
  }
  .hero p {
    margin-bottom: 10px;
  }
  .section {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .section h1 {
    font-size: 25px;
    margin: 0;
  }
  .content {
    line-height: 56px;
    padding: 0;
  }
  h1,
  h2 {
    padding: 0;
    margin-top: 30px;
  }
}
